* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #000;
}

#canvas {
	border: 2px solid white;
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	width: 424px;
	height: 560px;
}
